
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Goggles a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<title>Insert title here</title>
<!-- Default-JavaScript --><script th:src="@{../js/jquery-2.2.3.js}"></script>

<!-- Index-Page-CSS -->	<link rel="stylesheet" th:href="@{../css/styleView.css}"		 type="text/css" media="all"> 
<!-- FlexSlider-CSS -->	<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="../images/fav.ico" type="image/png">
<!-- Font-Awesome-File-Links -->
<!-- CSS --> <link rel="stylesheet" href="../css/font-awesome.css" 		 type="text/css" media="all">
<!-- TTF --> <link rel="stylesheet" href="../fonts/fontawesome-webfont.ttf" type="text/css" media="all">
<!-- //Font-Awesome-File-Links -->



</head>
<script th:inline="javascript">


$(document).ready(function(){
	$('#bidBtn').click(function(){
		$.post("/auction/[[${auction.auctionId}]]/addBid",
    		  	{
      		
				bidAmount:$('#bidPrice').val()
    		 
    		  	},
    		  	function(a){
     		  		var data=a.split(',');
     		  		
     		  		if(data[0]=="error")
     		  			$.notify(data[1]);
     		  		else{
     		  			refreshData();
     		  			$.notify(data[1], "success");
     		  		}
     		  		
    		  	}
    		);
	});
refreshData();	
	
});	

function refreshData(){
	$.post("/auction/[[${auction.auctionId}]]/bids",{
		
	},
	function(response){
		$(".bids").empty();
		$(".bids").append(response);
	});
}

function delBid(id){
	
	 $.post("/auction/deleteBid/"+id,
	  	{

	  	},
	  	function(a){
	  		refreshData();
	  		$.notify(a,"info");
	  	}
	);
}

function awardBid(id){
	
	 $.post("/auction/[[${auction.auctionId}]]/complete/"+id,
	  	{

	  	},
	  	function(a){
	  		 window.location=a;
	  	}
	);

	 
}

</script>
<script th:inline="javascript">
// Set the date we're counting down to


var dates=/*[[${endDate}]]*/ 'default';

var countDownDate = new Date(dates).getTime();

// Update the count down every 1 second3
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
        document.getElementById("bidBtn").disabled = true;
        document.getElementById("bidPrice").disabled = true;
    }
}, 1000);
</script>
<body>

<div  th:insert="Header.html"> </div>
	
			 
   
			    <div class="container" th:if="${isOpen}">
			    <h1 style="text-align:center;"><b>Auction Completed</b></h1>
			        <div class="well" id="about" style="padding-top:0px;">
			           
			            <p>
			            	<h3 style="color:#86bd4d; margin:0%; padding:10px; text-align: center; background-color: #1e1e1e;">Auction Closed At : <b th:text="${winner.winningBidPrice}"></b></h3>
			                <img src="https://www.plexusmd.com/PlexusMDAPI/Images/ProfilePicture/default_profile.jpg" class="img-circle" alt="profile pic" style="float:right;width:130px;height:auto; margin-top:10px "><br /> 
			               
			            </p>
			           
			           	<h2 style="color:#1e1e1e; font-weight: bolder; text-decoration: underline;" ><b th:text="${winner.auctionWonBy.username}"></b></h2>
			            <h4 style="padding-bottom:50px; color:#1e1e1e " > Total Bids Placed : [[${bidPlaced}]] </h4>
			        </div>
			      
			    </div>
			    
						
				

	<!-- Single-Product-View -->
	<div class="w3aitssinglewthree" style="background-color:white"> 
		<div class="container">
<!-- 			+++++++++++++++++++++SHOWCASE++++++++++++++++ -->
					<div class="products">
			<div class="single-page">
				<div class="single-page-row" id="detail-21">
					<div class="col-md-5 single-top-left">
						<div class="flexslider">
							<ul class="slides">
<!-- 							<%   -->
							
<!-- 								String file=""; -->
<!-- 								int id=Integer.parseInt(request.getParameter("id")); -->
<!-- 								PostProjectModel project=PostedProjectDAO.getPostProjectById(id); -->
<!-- 								for(ImagesModel image:ImagesDAO.getAllImageByProjectId(id)){ -->
<!-- 									file="FileServlet?path=E:/temp/"+image.getPath()+""; -->
<!-- 							%> -->
								<li th:data-thumb="@{'../auctionImage/' + ${img}}" th:each="img : ${images}">
									<input type="hidden" id="pId" value="<%=id%>">
									<div class="thumb-image detail_images"> <img th:src="@{'../auctionImage/' + ${img}}" data-imagezoom="true" class="img-responsive" alt="Groovy Apparel"></div>
								</li>
								
							
							</ul>
						</div>
					</div>
					<div class="col-md-6 single-top-right">
						<h1 class="item_name" style="color :#86bd4d;text-transform: capitalize; " th:text="${auction.auctionTitle}"></h1>
						
						<b style="margin-left:5px;">Ends In :</b>
						<p id="demo" th:text="${endDate}" style="color:#191918; width:30%; background-color:#86bd4d; border-radius: 15px; padding:10px; text-align: center;" > </p>
<!-- 						style="color:#89e54b; background-color:#191918; border-radius: 25px;" -->
						<p>This item will be delivered within 5-10 working days.</p>
						<div class="rating">
							
						</div>
						<div class="single-price">
							<ul>
								<li th:text="${auction.auctionStartingPrice}" ><small>Starting Price</small></li>
								<input type="hidden" id="sPrice" th:text="${auction.auctionStartingPrice}" >
<!-- 								<li><a href="../#"><i class="fa fa-gift" aria-hidden="true"></i>Apply Coupon</a></li> -->
							</ul>
							
						</div>
						<h4 Style="float: left;text-decoration: underline;"><b>Product Discription : </b></h4>
						<p class="single-price-text" th:text="${auction.auctionDescription}"></p>
						<div class="cbp-pgcontent aitssinglew3" id="mens_single">
							<div th:if="${owner==false}">
								Enter Bid<input class="form-control" id="bidPrice" type="number"><br><br><br>
								<button class="btn btn-success agileits my-cart-btn" id="bidBtn" ><i class="fa fa-cart-plus" aria-hidden="true" ></i> Add Bid</button>
								<div class="clearfix"></div>
							</div>
							<div th:if="${owner==true}" >
								Enter Bid<input class="form-control" id="bidPrice" type="number" disabled="disabled"><br><br><br>
							<button class="btn btn-success agileits my-cart-btn" id="bidBtn" disabled="disabled"><i class="fa fa-cart-plus" aria-hidden="true" ></i> Add Bid</button>
							<div class="clearfix"></div>
							</div>
							
							
						</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				
				<div class="row">
					<div class="col-md-12" >
						 <div style="width:15%; float:right;">
						 Sort By :
							<select class="form-control" >
								
								<option>Bid Price</option>
							
							
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Username</th>
						      <th scope="col">Bid Date</th>
						      <th scope="col">Bid Amount</th>
						      <th scope="col">Action</th>
						    </tr>
						  </thead>	
						   <tbody class="bids" >
						    
						   </tbody>
					  	</table>
					</div>
				
				</div>
				
					
			
	<!-- Custom-JavaScript-File-Links -->

<!-- Default-JavaScript --><script src="../js/jquery-2.2.3.js"></script>
<script src="../js/modernizr.custom.js"></script>
	</div>
	</div>
	</div>
		<!-- FlexSlider-JavaScript -->
			<script defer src="../js/jquery.flexslider.js"></script>
			<script>
				$(window).load(function() {
					$('.flexslider').flexslider({
						animation: "slide",
						controlNav: "thumbnails"
					});
				});
			</script>
		<!-- //FlexSlider-JavaScript -->

		<!-- ImageZoom-JavaScript --><script src="../js/imagezoom.js"></script>

	<!-- //Custom-JavaScript-File-Links -->

		<!-- Bootstrap-JavaScript --> <script src="../js/bootstrap.js"></script>
		<script src="../required/notify.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<link rel="stylesheet" href="../css/font-awesome-animation.css">


</body>
<!-- //Body -->
</html>