
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  th:href="@{/images/fav.ico}" rel="shortcut icon" type="image/png"/>

<link th:href="@{/required/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/required/jquery.min.js}"></script>
<script th:src="@{/required/bootstrap.min.js}"></script>


<link rel="stylesheet" th:href="@{/css/errorPage.css}">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>

<body>
<div  th:insert="Header.html"> </div>
<section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible!</p>
		
		<a href="/" class="link_404">Go to Home</a>

	</div>
		</div>
		</div>
		</div>
	</div>
</section>

</body>

</html>
















