
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  th:href="@{/images/fav.ico}" rel="shortcut icon" type="image/png"/>
<script th:src="@{/js/login.js}"></script>


<link rel="stylesheet" th:href="@{/css/header.css}">
<!-- <link rel="stylesheet" th:href="@{/css/header2.css}"> -->
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>


</head>
<script>
$(document).ready(function(){
	$(window).click(function() {
// 		alert($(".card").is(':visible'));
	
	$(".header-user-menu").click(function() {
		
		$(".card").slideToggle("slow");
	    
	});
		
	});
		
	
	$(".header-basic-light .header-limiter nav a").click(function() {
// 		alert('Get');
	     $(".header-limiter nav a").removeClass("selected");
	     $(this).addClass("selected");
	});
});
</script>

<body>

<header class="header-basic-light">

	<div class="header-limiter">

		<h1><a href="/"><img th:src="@{/images/logo.png}"></a></h1>

		<nav>
			<a href="/">Home</a> | 
			<a href="/createAuction">Create Auction</a> | 
			<a href="message.jsp">Messages</a> | 
			<a href="ManageProject.jsp">Manage Project</a> | 
			<a href="AboutUs.jsp">About</a> | 
			<a href="Contact Us.jsp">Contact Us</a> 
			<a href="/logout" class="logout-button">Logout</a> 
			

		</nav>
		
		
		
	</div>

</header>

</body>

</html>